.main-container {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1500px;
  color: rgba(9, 49, 67, 0.991);
}
.main-content {
  /* text-align: center; */
  margin-top: 200px;
  margin-left: 30px;
}
.main-content p {
  font-size: 2rem;
}
.main-content h1 {
  font-size: 4rem;
}
.main-content h2 {
  font-size: 2.8rem;
}
.contact-button {
  margin-top: 20px;
  padding: 15px 32px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 25px;
  background-color: rgba(9, 49, 67, 0.991);
  text-decoration: none;
  color: rgb(244, 244, 244);
  transition-duration: 0.4s;
}
.contact-button:hover {
  background-color: wheat;
  color: black;
}
.about-content {
  margin-top: 270px;
  margin-left: 90px;
}
.about-content h1 {
  font-size: 3rem;
}
.about-content h3 {
  font-size: 2rem;
}
.about-content p {
  font-size: 1rem;
}
.table-content{
  overflow-x: auto;
}
.table-center {
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
}
.table-content table,
td,
th {
  border: 2px solid black;
}
.table-content table {
  border-collapse: collapse;
}
.table-content #week-no {
  text-align: center;
}
.table-content tr:nth-child(odd) {
  background-color: #f1e5e5;
}
.table-content tr:nth-child(even) {
  background-color: rgba(174, 218, 239, 0.991);
}
@media screen {
  
}