.main-container {
  /* margin-left: 25px; */
  padding: 1px 16px;
  height: 1200px;
  color: rgba(9, 49, 67, 0.991);
}
.images{
    height: 250px;
    width: 300px;
}
.project-grid-container{
    display: grid;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: 20px 20px;
    /* gap: 10px; */
    /* background-color: black; */
    /* margin: 100px; */
    padding: 10px;
}
.project-grid-container > div{
  text-align: center;
  padding: 20px 0;
  height: 600px;
  width: 400px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* font-size: 30px; */
}
h3{
  font-size: 1.3rem;
}
p{
  font-size: 1rem;
}